include resume-mixins.pug

#main
    #title
        h1 Kendra Todd
        .subtitle Software Quality Assurance Analyst

    .main-block
        h2 #[i.fa.fa-suitcase] Experience

        +item("Quality Assurance Analyst II", "Simple Finance", "Remote", "2021", "2017")
            :markdown-it
                - Designed end-to-end test plans and manually executed exploratory, functional, and acceptance testing
                for numerous large-scale initiatives, including:
                    - New product launches
                    - Customer service tooling implementations
                    - Third party integrations.
                - Wrote new test cases for Web, iOS, Android, and Salesforce clients. Helped maintain Simple’s test
                case repository in Testrail and Xray.
                - Mentored QA interns and analysts in software QA methodologies and strategies, and supported their
                onboarding, growth, and success.
                - Became the primary contributor to Simple’s Cypress test harness, written in JavaScript & TypeScript.
                Increased new coverage by more than 25 percent.
                - While embedded in a product team, advocated for a “shift left” mentality; provided testing insight,
                raised risks, and offered product knowledge and design input as early in the software development cycle
                as possible.


        +item("Customer Relations Escalation Agent", "Simple Finance", "Portland, OR", "2017", "2016")
            :markdown-it
                - Triaged bug tickets from customer support agents, and provided effective troubleshooting to resolve
                most client-side issues.
                - Documented unexpected product behaviors in detailed and concise bug reports whose audience was
                Simple’s product and engineering teams.
                - Generated and maintained clear internal documentation about known bugs.
                - Assisted in the escalation of critical service interruptions and posted to a customer-facing status
                page via GitHub.

        +item("Customer Support Agent", "Simple Finance", "Portland, OR", "2016", "2015")
            :markdown-it
                - Responded to inbound customer contact; assisted customers with product navigation and troubleshooting
                on mobile and web platforms, general account maintenance, and in-depth support for payment and funding
                issues.
                - Effectively identified and escalated technical, risk, and partner-related issues to the appropriate
                team using internal ticketing systems.
                - Created and maintained an Atlassian Confluence page for a team of 14 customer support agents, which
                provided easy access to knowledge base articles, team updates, and job aids.

        //+item("Customer Service Representative II", "Netflix", "Hillsboro, OR", "2010", "2014")
        //    :markdown-it
        //        - Fielded inbound customer calls and offered support for various inquiries including video streaming,
        //        account billing, DVD shipping, and website navigation.
        //        - Acted as a liaison between frontend agents and Tier 2 support for unresolved technical issues. During
        //        initial contact with the agent, I exhausted available troubleshooting before escalating details and
        //        reproducible steps to Tier 2.
        //        - Acted as a point of contact for a team of representatives; executed side-by-side coaching and provided
        //        real-time feedback to encourage metric-related performance.

    .main-block
        h2 #[i.fa.fa-folder-open] Selected Projects

        +item("New Product QA - Loans Feature", "Simple Finance", null, "2020")
            :markdown-it
                - Led and organized all manual testing efforts across Android, iOS, and Web clients
                - Contributed 60 percent of automated web coverage for the feature
                - Quality delivery of the product led to sucessful launch, with booked loans exceeding $8MM within 1 year

        +item("Salesforce CRM Implementation", "Simple Finance", null, "2017", "2018")
            :markdown-it
                - As primary QA, led functional and regression testing efforts for migration from internally built
                customer relationship management tool to Salesforce platform
                - Co-facilitated ongoing User Acceptance Testing sessions with 20+ agents, triaged and reported defects
                - Manually tested initial telephony implementation with Tenfold, and later, migration from Tenfold to Five9


    .main-block.concise
        h2 #[i.fa.fa-graduation-cap] Education

        +item("Lewis & Clark College", "French Studies, Art History", "Portland, OR", "2010", "2006")
            .description B.A. with Honors, summa cum laude


#sidebar
    #contact.side-block
        h1 Contact Info
        ul
            li #[i.fa.fa-globe]  Denver, Colorado
            li #[i.fa.fa-linkedin] <a href="https://www.linkedin.com/in/kendractodd/">/in/kendractodd</a>
            li #[i.fa.fa-envelope] <a href="mailto:kendratodd@gmail.com">kendratodd@gmail.com</a>
            li #[i.fa.fa-phone] <a href="tel:+1-720-468-3934">720.468.3934</a>

    #skills.side-block
        h3 Languages I've Shipped Code In
        ul
            li JavaScript
            li TypeScript
            li Python

        h3 Frameworks & Tools I've Used
        ul
            li Android Studio
            li Cypress
            li GitHub
            li Jira
            li Postman
            li Testrail
            li Xcode
            li Xray

    //- This points to mnjul's original resume project
    #disclaimer.side-block.
        This resume was wholly typeset with HTML/CSS — see code git.io/vVSYL

style
    include:scss resume.scss
