include resume-mixins.pug

#main
    #title
        h1 Kendra Todd
        .subtitle Software Quality Assurance Engineer

    .main-block
        h2 #[i.fa.fa-suitcase] Experience

        +item("Quality Assurance Engineer", "Bitwarden", "Remote", "2021", "Present")
            :markdown-it
                - Executed thorough acceptance and regression testing against Bitwarden's expansive personal and enterprise client
                software, including web, mobile, and desktop applications, browser extensions, command line tools, and directory connector software
                - Generated new test cases and maintained Bitwarden's test case repository in Testrail
                - Organized and facilitated cross-team user-acceptance testing for major feature releases
                - Contributed to Bitwarden's automated Selenium test harness, written in C#, with both new test coverage and test maintenance


        +item("Quality Assurance Analyst II", "Simple Finance", "Remote", "2021", "2017")
            :markdown-it
                - While embedded within a cross-functional product team, advocated for a “shift left” mentality to deliver
                high quality features on Android, iOS, Web, and Salesforce platforms
                - From April 2020, became the primary contributor to Simple’s Cypress test harness, written in JavaScript
                and TypeScript; increased new coverage by more than 25 percent
                - Maintained and contributed new test cases to Simple’s test case repository in Testrail and Xray
                - Mentored QA interns and analysts in software QA methodologies and strategies
                - Designed end-to-end test plans and executed exploratory, functional, regression, and
                acceptance testing for numerous large-scale initiatives, including:
                    - Simple Personal Loans: \
                       &ndash; Contributed 60 percent of automated web coverage in Cypress \
                       &ndash; Quality delivery of the product led to sucessful launch, exceeding $8MM booked loans within
                       1 year
                    - Salesforce CRM Implementation: \
                       &ndash; Co-facilitated ongoing User Acceptance Testing sessions with 20+ agents, triaged and
                       escalated defects based on severity  \
                       &ndash; Led manual test efforts for accompanying telephony implementation with Tenfold, and
                       migration from Tenfold to Five9

        +item("Customer Relations Escalation Agent", "Simple Finance", "Portland, OR", "2017", "2016")
            :markdown-it
                - Triaged defect reports from customer support agents, and provided effective troubleshooting to resolve
                most client-side issues
                - Documented unexpected product behaviors in detailed and concise bug reports whose audience was
                Simple’s product and engineering teams
                - Generated and maintained clear internal documentation about known bugs
                - Assisted in the escalation of critical service interruptions and posted to a customer-facing status
                page via GitHub

        +item("Customer Relations Agent", "Simple Finance", "Portland, OR", "2016", "2015")
            :markdown-it
                - Responded to inbound customer contact; assisted customers with product navigation and troubleshooting
                on mobile and web platforms, general account maintenance, and in-depth support for payment and funding
                issues
                - Effectively identified and escalated technical, risk, and partner-related issues to the appropriate
                team using internal ticketing systems
                - Created and maintained an Atlassian Confluence page for a team of 14 customer support agents, which
                provided easy access to knowledge base articles, team updates, and job aids

        //+item("Customer Service Representative II", "Netflix", "Hillsboro, OR", "2010", "2014")
        //    :markdown-it
        //        - Fielded inbound customer calls and offered support for various inquiries including video streaming,
        //        account billing, DVD shipping, and website navigation.
        //        - Acted as a liaison between frontend agents and Tier 2 support for unresolved technical issues. During
        //        initial contact with the agent, I exhausted available troubleshooting before escalating details and
        //        reproducible steps to Tier 2.
        //        - Acted as a point of contact for a team of representatives; executed side-by-side coaching and provided
        //        real-time feedback to encourage metric-related performance.

    .main-block.concise
        h2 #[i.fa.fa-graduation-cap] Education

        +item("Lewis & Clark College", "French Studies, Art History", "Portland, OR", "2010", "2006")
            .description B.A. with Honors, summa cum laude


#sidebar
    #contact.side-block
        h1 Contact Info
        ul
            li #[i.fa.fa-globe] Denver, Colorado
            li #[i.fa.fa-phone] 720.468.3934
            li #[i.fa.fa-linkedin] <a href="https://www.linkedin.com/in/kendractodd/">/in/kendractodd</a>
            li #[i.fa.fa-envelope] <a href="mailto:kendratodd@gmail.com">kendratodd@gmail.com</a>

    #skills.side-block
        h3 Languages I've Shipped Code In
        ul
            li C#
            li JavaScript
            li TypeScript
            li Python

        h3 Frameworks & Tools I've Used
        ul
            li Azure Data Studio
            li Android Studio
            li Asana
            li Burp Suite
            li Cypress
            li GitHub
            li Jira
            li Postman
            li Salesforce
            li Testrail
            li Xcode
            li Xray
            li Visual Studio

    //- This points to mnjul's original resume project
    #disclaimer.side-block.
        Resume Template from <a href="https://github.com/mnjul/html-resume">mnjul</a>

style
    include:scss resume.scss
